@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

.text-green{
    color: green;
}

.bg-gray{
    background-color: #cdcdcd;
}

.bg-aquamarine{
    background-color: aquamarine;
}