/* link, visited, hover, active */
/* maintain this order when using all four */


a:link{
    color: blue;
}


a:visited{
    color: red;
}


a:hover{
    color: green;
}


a:active{
    color: brown;
}


p:hover{
    color: green;
    font-size: 18px;
}


p:active{
    background-color: aquamarine;
}


input:focus{
    padding: 5px;
    outline-color: blue;
}


input:required{
    color: red;
}